body {
	background: #eee;
	color: #333;
	font-family: sans-serif;
	font-size: 15px;
}
#wrapper {
	background: #fff;
	width: 1100px;
	margin: 20px auto;
	box-shadow: rgba(117, 74, 74, 0.4) 0px 2px 4px,
		rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#wrapper header {
	background: linear-gradient(#000046, #1cb5e0);
	padding: 20px;
}
#wrapper header hgroup {
	float: left;
	color: #fff;
	text-shadow: -5px 5px 7px black;
}
#wrapper header nav {
	float: right;
	margin-top: 50px;
}
#wrapper header nav ul {
	padding: 0;
	margin: 0;
}
#wrapper header nav ul li {
	float: left;
	list-style: none;
}
#wrapper header nav ul li a {
	padding: 15px;
	color: #fff;
	text-decoration: none;
}
.clear {
	clear: both;
}
footer {
	background: linear-gradient(#000046, #1cb5e0);
	padding: 20px;
}
footer a {
	color: #fff;
	text-decoration: none;
}
section {
	padding: 20px;
}
